#* @vtlvariable name="action" type="com.atlassian.confluence.extra.impresence2.config.IMConfigAction" *#

<html>
    <head>
        <title>$i18n.getText("impresence.template.title")</title>
    </head>
    <body>
        #parse ( "/template/includes/actionerrors.vm" )

        <div style="padding:10px; border:1px solid #ccc; background-color:#f0f0f0; margin:0px; margin-bottom:15px; width:80%; text-align:left;">
            $i18n.getText("impresence.template.label.requireconfiginfo")
        </div>

        <table class="aui">
        <thead>
            <tr>
                <th id="service">$i18n.getText("impresence.template.tableheader.service")</th>
                <th id="status">$i18n.getText("impresence.template.tableheader.status")</th>
                <th id="action">$i18n.getText("impresence.template.tableheader.actions")</th>
            </tr>
        </thead>
        <tbody>
            #foreach ($reporter in $action.reporters)
                <tr>
                    <td headers="service" data-service-name="$reporter.key"><a href="$reporter.serviceHomepage" target="_blank">$reporter.name</a></td>
                    <td headers="status">
                        #if ($reporter.requiresConfig())
                            <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-error">$i18n.getText("impresence.template.service.requiresconfig")</span>
                        #elseif ($reporter.hasConfig())
                            <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-complete">$i18n.getText("impresence.template.service.configured")</span>
                        #else
                            <span class="aui-lozenge aui-lozenge-subtle">$i18n.getText("impresence.template.service.noconfig")</span>
                        #end
                    </td>
                    <td class="action" headers="action">
                         #if ($reporter.hasConfig())
                             <ul class="menu">
                                 <li>
                                     <a class="edit aui-button icon-button aui-button-link" href="$req.contextPath/admin/plugins/impresence2/${reporter.key}/config.action">
                                         <span class="aui-icon aui-icon-small aui-iconfont-edit">$i18n.getText("impresence.template.control.link.configure")</span>
                                     </a>
                                 </li>
                             </ul>
                         #end
                    </td>
                </tr>
            #end
        </tbody>
        </table>
        #parse ( "/admin/admin-breadcrumbs.vm" )
    </body>
</html>
