#* @vtlvariable name="action" type="com.atlassian.confluence.extra.impresence2.config.JabberPresenceConfigAction" *#

<html>
	<head>
		<title>$i18n.getText("impresence.template.config.title", [ $action.reporter.name ] )</title>
	</head>
	<body>
        #parse ( "/template/includes/actionerrors.vm" )

        <div class="aui-message aui-message-info">
            <p class="title">
                <strong>$i18n.getText("impresence.template.localpresence.config.label.needdummyccount", [ $action.reporter.name ] )</strong>
            </p>

            <ol>
                #set($linkHtml = "<a href='$action.reporter.serviceHomepage' target='_blank'>$action.reporter.name</a>")
                <li>$i18n.getText("impresence.template.localpresence.config.label.createdummyaccount", [$linkHtml])</li>
                <li>$i18n.getText("impresence.template.localpresence.config.label.fillindetails")</li>
            </ol>

            <p>$i18n.getText("impresence.template.localpresence.config.label.accountsecurityinfo", [ "{im}" ])</p>
        </div>

        <div id="presenceconfigstatetable">
            <form class="aui" name="presenceconfigform" action="$req.contextPath/admin/plugins/impresence2/${action.reporter.key}/doconfig.action" method="POST">
                #form_xsrfToken()
                <fieldset>
                    <div class="field-group">
                        <label for="reporterId">
                            $i18n.getText("impresence.template.localpresence.config.label.id")
                            <span class="aui-icon icon-required">$i18n.getText("impresence.template.required")</span>
                        </label>
                        <input type="text" class="text" name="reporterId" value="$!generalUtil.htmlEncode($action.reporterId)">
                    </div>
                    <div class="field-group">
                        <label for="reporterPassword">
                            $i18n.getText("impresence.template.localpresence.config.label.password")
                            <span class="aui-icon icon-required">$i18n.getText("impresence.template.required")</span>
                        </label>
                        <input type="password" class="password" name="reporterPassword" value="$!generalUtil.htmlEncode($action.reporterPasswordPlaceholder)" />
                    </div>
                    <div class="field-group">
                        <label for="domain">
                            $i18n.getText("impresence.template.jabber.config.label.domain")
                            <span class="aui-icon icon-required">$i18n.getText("impresence.template.required")</span>
                        </label>
                        <input type="text" class="text" name="domain" value="$!generalUtil.htmlEncode($action.domain)">
                    </div>
                    <div class="field-group">
                        <label for="port">
                            $i18n.getText("impresence.template.jabber.config.label.port")
                            <span class="aui-icon icon-required">$i18n.getText("impresence.template.required")</span>
                        </label>
                        <input type="text" class="text" name="port" value="$!generalUtil.htmlEncode($action.port)">
                    </div>
                </fieldset>
                <div class="buttons-container">
                    <div class="buttons">
                        <input type="submit" class="button submit" name="update" value="$i18n.getText('impresence.template.config.control.button.update')">
                        <a href="$req.contextPath/admin/plugins/impresence2/config.action">$i18n.getText("impresence.template.config.control.link.backtoimconfig")</a>
                    </div>
                </div>

            </form>
        </div>
		#parse ( "/admin/admin-breadcrumbs.vm" )
	</body>
</html>
